@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  background-color: rgb(245, 245, 245);
  transition: all 300ms ease;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #242424;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

button {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: #ffffff;
  outline: none;
  border: 1px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #f06449;
}

textarea {
  resize: none;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

.container {
  padding: 96px 0px;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 12px;
}

.text--orange {
  color: #f06449;
}

.bold {
  font-weight: 700;
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.link__hover {
  position: relative;
}

.link__hover::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover--black::after {
  background-color: #000000;
}

.link__hover--white::after {
  background-color: #ffffff;
}

.link__hover:hover::after {
  width: 100%;
  left: 0;
}

.dark__theme .title,
.dark__theme .section__title,
.dark__theme .nav__logo,
.dark__theme .nav__link--anchor,
.dark__theme .fa-adjust,
.dark__theme .header__para,
.dark__theme .language__name {
  color: #ffffff;
}

.dark__theme section {
  background-color: #242424;
}

.dark__theme .scroll__icon {
  border-color: #ffffff;
}

.dark__theme .scroll__icon::after,
.dark__theme .link__hover--black::after {
  background-color: #ffffff;
}

.dark__theme .mail__button {
  background-color: #ffffff;
  color: #242424;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* landing section */

nav,
.scroll,
header,
.mail {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 600ms ease;
}

.modal__open nav,
.modal__open .scroll,
.modal__open header,
.modal__open .mail {
  opacity: 0;
  visibility: hidden;
  transition: all 600ms ease;
}

#landing {
  min-height: 100vh;
}

header {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  max-width: 1000px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; */
  padding: 0px 30px;
  transform: translateX(-10%);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
}

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__link {
  background-color: #f06449;
  color: #ffffff;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mail__button {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: #ffffff;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.25);
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* nav section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 0px 20px;
}

.nav__logo {
  font-size: 24px;
  font-weight: 700;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0px 12px;
}

.nav__link--anchor {
  font-size: 16px;
  font-weight: 700;
}

.fa-adjust {
  font-size: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* modal section */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: all 600ms ease;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 600ms ease;
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.modal__language {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.modal__language--name {
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transform: scale(0);
  transition: all 300ms ease;
}

.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.modal__language:hover .modal__language--name {
  transform: scale(1);
  opacity: 1;
}

.modal__language--img {
  width: 100%;
  max-width: 100px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.modal__contact {
  background-color: #242424;
  color: #ffffff;
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
  margin-bottom: 12px;
}

.modal__subtitle {
  margin-bottom: 24px;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item {
  margin-bottom: 20px;
}

.form__button {
  background-color: #f06449;
  border: 2px solid #f06449;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
  border-radius: 4px;
}

.form__button:hover {
  border-color: #ffffff;
  background-color: transparent;
}

.form__button:active {
  border-color: #f06449;
  color: #f06449;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
  z-index: -1;
}

.modal__overlay--success {
  background-color: #478a42;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 1;
  visibility: visible;
}

.fa-spinner {
  animation: spinner 1200ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fa-times {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #ffffff;
  font-size: 36px;
  z-index: 100;
}

.modal__open .modal {
  z-index: 60;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__open .modal__about,
.modal__open .modal__contact {
  transform: translate(0%);
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* languages section */

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__image {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}

.language:hover .language__image {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language__image--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms ease;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* projects section */

.project {
  margin-bottom: 120px;
}

.project__img {
  width: 100%;
  transition: all 400ms ease;
  transform: scale(1.02);
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.04);
  filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
  visibility: visible;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  color: #ffffff;
  max-width: 550px;
  opacity: 0;
  transition: all 400ms ease;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 400ms ease;
  visibility: hidden;
}

.project__description--title {
  font-size: 40px;
}

.project__description--subtitle {
  margin-top: 8px;
}

.project__description--link {
  color: #ffffff;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* footer section */

footer {
  background-color: #242424;
  position: relative;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer__social--link {
  color: #ffffff;
}

.footer__copyright {
  color: #ffffff;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* shapes section */

.shape {
  position: fixed;
  height: 20px;
  width: 20px;
  opacity: 0.6;
}

.shape0 {
  top: 15vh;
  left: 10vw;
}

.shape1 {
  top: 15vh;
  left: 50vw;
}

.shape2 {
  top: 15vh;
  left: 80vw;
}

.shape3 {
  top: 50vh;
  left: 10vw;
}

.shape4 {
  top: 50vh;
  left: 50vw;
}

.shape5 {
  top: 50vh;
  left: 80vw;
}

.shape6 {
  top: 80vh;
  left: 10vw;
}

.shape7 {
  top: 80vh;
  left: 50vw;
}

.shape8 {
  top: 80vh;
  left: 80vw;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* repsonsiveness */

@media (max-width: 1024px) {
  .title {
    font-size: 80px;
  }

  .header__para {
    font-size: 20px;
  }

  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    min-height: 100vh;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  .modal__half {
    width: 100%;
  }

  .modal__title,
  .modal__subtitle {
    text-align: center;
  }

  .modal__languages {
    justify-content: space-around;
  }

  .modal__language {
    max-width: 150px;
  }

  #languages,
  .nav__link:nth-child(2) {
    display: none;
  }

  .form__button {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 64px;
  }

  header {
    transform: translate(0);
  }

  .section__title {
    font-size: 40px;
  }

  .project__description {
    left: 0;
    width: 100%;
    padding: 0;
    padding-left: 24px;
  }

  .project__description--title {
    font-size: 32px;
  }

  .project__description--subtitle {
    margin-bottom: 16px;
  }

  .project__description--para {
    display: none;
  }

  .project__img {
    transform: scale(1.05);
  }

  .project__wrapper:hover .project__img {
    transform: scale(1.1);
  }

  .shape {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav__link:first-child {
    display: none;
  }

  .title {
    font-size: 52px;
  }

  .header__para {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .modal__half {
    padding: 40px;
  }

  .fa-times {
    font-size: 24px;
  }
}

@media (max-height: 800px) {
  .scroll__icon {
    display: none;
  }
}
